.imagenProducto{
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 5%;
}

/*.descripcionProducto {
  text-align: center;
}*/

.imagenProducto {
}
.detalleProducto{
  width: 50%;
  float: right;
}
.inline{
  display: inline-block;
}
#descripcion {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #312450;
  border-radius: 8px;
}
.botonComprarDetalle {
  clear:both;
  width: 60%;
  margin:3em auto 0;
}
.relatedProducts{
  clear: both;
  padding-top: 2em;
}