html{
	position: relative;
	height: 100%;
}
body{
	position: relative;
	padding-bottom: 200px;
  	min-height: 100%;
}
.productoFoto{
	width: 200px;
	height: 200px;
	max-height: 200px;
    max-width: 200px;
}
a.aAvatar{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	/*color:red !important;*/
}
.form-delete{
  display: inline-block;
}
.btn-follower{
	margin-top: 25px;
    margin-bottom: 10px;
}
.btn-follower a{
	color: white;
}
.activeFilter{
	text-decoration: underline;
}
.social{
	width:30px;
	height: 40px;
}
.footer{
	position: absolute;
  	bottom: 0px;
  	width: 100%;
  	background-color: #e7e7e7;
  	height: auto;
}
.rights{
	background-color:#337AB7; 
	padding:10px; 
	text-align:center; 
	color: white;
}
table td, table th{
   text-align: center;
   vertical-align: middle !important;  
}
.form-delete{
  display: inline-block;
}
.thumbnail{
	height: 390px;
}
.thumbnail:hover{
	z-index: 999;
    /*border: 1px solid #eee;*/
    -webkit-box-shadow: 0 3px 4px #ccc;
    box-shadow: 0 3px 4px #ccc;
    background: white;
    min-height: 80px;
    margin: 5px 0 15px -1px;
    overflow: hidden;
    /*height: 390px;*/
}
.item-title{
	/*font-size: 14px;*/
    /*line-height: 18px;*/
    /*margin: 0 0 10px;*/
    color: #337ab7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbnail:hover .item-title{
	text-overflow: initial;
    white-space: normal;
    margin-top: -2px
}
.detalleProductoFoto{
	float: left; 
	/*margin-left: 15%; */
	margin-top: 3%;
	width: 50%;
	/*width: 300px;*/
	height: 300px;
	display: inline-block;
}
.detalleProdcutoFoto img{
	text-align: center;
}
.detalleProdutoDatos{
	float: right; 
	width: 50%;
	/*margin-right: 31%; */
	margin-top: 3%;
	border-left: 1px solid #eee;
	padding-left: 2em;
	display: inline-block;
}
.withButtons{
	height: 480px;
}
.sinStock{
	color: red;
	font-style: italic;
	font-size:1.3em;
}
@media screen and (max-width: 991px){
	
	.container{
		padding-bottom: 45px!important;
	}
}


