.productoFoto{
	max-height: 200px;
    max-width: 200px;
}
a.aAvatar{
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	/*color:red !important;*/
}
.form-delete{
  display: inline-block;
}
.btn-follower{
	margin-top: 25px;
    margin-bottom: 10px;
}
.btn-follower a{
	color: white;
}
.activeFilter{
	text-decoration: underline;
}
.social{
	width:30px;
	height: 40px;
}
